@import "../../../assets/css/variables.scss";

.navigation-wrapper {
    width: 100%;
}

.tv-shows-carousels-box {
    position: absolute;
    width: 100%;
    padding-bottom: 120px;

    @media #{$xlg} {
        margin-top: -40vh;
    }

    @media #{$xxlg} {
        margin-top: -34vh;
    }

    @media #{$xlg4k} {
        margin-top: -20vh;
    }

    @media #{$alt-md} {
        margin-top: 50px;
    }

    // @media #{$lg}{
    //     margin-top: -5vh;
    // }
}