@import "../../../../../assets/css/variables.scss";

.top-right-toolbar {

    &__nav {
        display: flex;
        list-style-type: none;
        align-items: center;
        margin: 0;

        &> li {

            &:not([class*="__search-box-item"]) {
                margin-left: 25px !important;
                
                @media #{$xs} {
                    display: none;
                }
            }

            a {
                color: white;
            }
        }

        &__search-box-item {
            transition: border .75s;

            @mixin search-open {
                display: flex;
                border: 1px solid white;
                align-items: center;
                padding: 4px 7px 4px 6px;
                background: #000;

                [class*="__input-box"] {
                    width: 15vw;
                    height: fit-content;
                }
            }

            @media #{$xs} {
                @include search-open;
                

                [class*="__input-box"] {
                    min-width: 25vw !important;
                    margin-left: 0;
                }

                i {
                    display: none;
                }
            }

            &[data-expanded="1"] {
                @include search-open;
            }

            &__input-box {
                width: 0;
                height: 0;
                overflow: hidden;
                transition: width .55s;
                margin-left: 10px;

                input {
                    width: 100%;
                    display: inline-block;
                    background: transparent;
                    border: none;
                    box-sizing: border-box;
                    color: #fff;
                    font-size: 14px;
                    outline: none;
                }
            }

            i {
                font-size: 22px !important;
            }
        }

        li {

            i {
                font-size: 20px;
            }
        }
    }

    .profile-button {
        position: relative;

        &:hover > [class*="__avatar"] {
            &::after {
                transform: rotate(180deg);
            }
        }

        &__avatar {
            display: flex;
            align-items: center;

            &::after {
                display: block;
                font-family: "Font Awesome 6 Free";
                content: '\f0d7';
                font-weight: bold;
                margin-left: 10px;
                font-size: 10px;
                transition: .5s transform;
            }

            img {
                border-radius: 4px;
            }

        }

        &:hover .profile-avatar-menu {
            opacity: 1;
            //display: block;
        }

        @keyframes fadeAvatarMenu {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }

        .profile-avatar-menu {
            opacity: 0;
            //display: none;
            position: absolute;
            right: 0;
            background-color: rgba(0, 0, 0, 0.80);
            width: 220px;
            list-style-type: none;
            margin: 20px 0 0 0;
            padding: 10px 0px;
            transition: height 0.1s, opacity 0.3s;
            animation: fadeAvatarMenu 0.5s;

            &::before {
                font-size: 14px;
                top: -25px;
                right: 25px;
                position: absolute;
                font-family: "Font Awesome 6 Free";
                content: '\f0d8';
                display: flex;
                color: white;
                font-weight: bold;
                width: 100%;
                justify-content: flex-end;
                padding-top: 15px;
            }

            li {
                //display: block;
                
                a {
                    display: flex;
                    align-items: center;
                    font-size: 13px;
                    line-height: 16px;
                    padding: 5px 10px;
                    
                    &:hover span {
                        text-decoration: underline;
                    }

                    img {
                        border-radius: 3px;
                    }

                    i, img {
                        margin-right: 10px;
                        width: 32px;
                        font-size: 20px;
                        display: flex;
                        justify-content: center;
                    }
                }

                &[class*="sign-out"] {
                    border-top: 1px solid hsla(0,0%,100%,.25);;
                    display: flex;
                    justify-content: center;
                    padding: 5px 0 0;
                    margin-top: 10px;
                }
            }
        }

    }
}