@import "../../../../assets/css/variables.scss";

youtube-player-placeholder {
    width: 100% !important;
}

.featured-show-box {
    background: center top;
    margin-bottom: 40px;
    background-size: cover;
    height: 56.25vw;
    position: relative;

    @media #{$alt-md}{
        display: none;
    }

    &[data-video-playing="1"] {
        ::ng-deep video, ::ng-deep iframe {
            //display: none;
            opacity: 1;
        }
    }

    &[data-video-playing="1"] {
        ::ng-deep .featured-show {

            img {
                max-width: 60% !important;
                transform: translate3d(0px, 60px, 0px);
            }

            [class*="__excerpt"] {
                //margin-top: -50px;
                //height: 0;
                opacity: 0;
                transform: translate3d(0px, 93px, 0px);
            }
        }
    }

    &__video-protector {
        width: 100%;
        height: 100%;
        position: absolute;
        background: transparent;
        z-index: 1;
    }

    ::ng-deep video, ::ng-deep iframe {
        width: 100%;
        height: 100%;
        position: absolute;
        opacity: 0;
        transition: opacity .5s;
        top: -60px;
    }

    .container {
        //display: flex;
        //align-items: center;
        height: 90%;
    }

    .featured-show {
        width: 35%;
        position: absolute;
        bottom: 35%;
        z-index: 2;
        transition: width 1s;
        transition-delay: 3s;

        ::ng-deep img {
            max-width: 100%;
            transition-duration: 1300ms;
            transition-delay: 2000ms;
        }

        &__excerpt {
            margin-top: 10px;
            font-size: 1.2vw;
            color: white;
            overflow: hidden;
            height: fit-content;
            opacity: 1;
            //transition: opacity 1s, margin-top 1s;
            //transition-delay: 3s, 3s;
            transition-duration: 1300ms;
            transition-delay: 2000ms;
        }

        &__buttons {
            display: flex;
            margin-top: 20px;
            position: relative;

            app-button {
                margin-right: 10px;
            }
        }
    }

    &__actions-and-info {
        position: absolute;
        z-index: 2;
        right: 0;
        bottom: 35%;
        display: flex;
        justify-content: center;
        align-items: center;

        button {

            &[data-muted="0"] {
                .fa-volume-high {
                    display: block;
                }
                .fa-volume-xmark {
                    display: none;
                }
            }

            &[data-muted="1"] {
                .fa-volume-high {
                    display: none;
                }
                .fa-volume-xmark {
                    display: block;
                }
            }
        }

        &__maturity-rating-box {
            background-color: rgba(51,51,51,.6);
            border: 3px #dcdcdc;
            border-left-style: solid;
            padding: .5vw 3.5vw .5vw .8vw;
            display: flex;
            align-items: center;
            margin-left: 15px;
        }
    }

    &__bottom-shadow {
        //background-color: black;
        height: 21vh;
        position: relative;
        z-index: 2;
        margin-top: -20px;
    }
}